:root {
    --darkBlue: #2A324B;
    --lightBlue: #58699D;
    --grey: #E1E5EE; 
    --white: #fff;
    --defFont: 'Montserrat', sans-serif;
}

nav {
    margin-bottom: -3px;

    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;

        li {
            list-style: none;
            
            .nav-link {
                background-color: var(--darkBlue);
                color: var(--white);
                width: 100%;
                padding: 1rem 3.6rem;
                font-weight: bold;

                // Endrer farge og skrift når pilen er over navigasjonen  
                &:hover {
                    background-color: var(--white);
                    color: var(--darkBlue);
                }

                // Endrer farge og skrift når siden er aktiv
                &.active {
                    background-color: var(--white);
                    color: var(--darkBlue);
                }
            }
        }
    }
}