:root {
    --darkBlue: #2A324B;
    --lightBlue: #58699D;
    --grey: #E1E5EE; 
    --white: #fff;
    --defFont: 'Montserrat', sans-serif;
}

article {

    ul {
        
        li {
            color: #000;
            
            a {
                color: var(--lightBlue);
                text-decoration: underline;
            }
        }
        
    }
}